@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <select 
                    asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name", Model.SelectedCategory))" class="form-select" 
                    name="category">
                        <option value="0">All</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 330px;">@Html.DisplayNameFor(m => m.Products[0].ProductId)</th>
            <th style="width: 120px;">@Html.DisplayNameFor(m => m.Products[0].Image)</th>
            <th>@Html.DisplayNameFor(m => m.Products[0].Image)</th>
            <th style="width: 340px;">@Html.DisplayNameFor(m => m.Products[0].Price)</th>
            <th style="width: 128px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prd in @Model.Products)
        {
            <tr>
                <td>@prd.ProductId</td>
                <td>@prd.Name</td>
                <td>
                    <img src="~/img/@prd.Image" alt="" class="img-fluid" alt="">
                </td>
                <td>@prd.Price</td>
                <td>
                    <a href="/Home/Edit/@prd.ProductId" class="btn btn-sm btn-primary">Edit</a>
                    <a href="/Home/Delete/@prd.ProductId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
